:root {
  --el-color-primary: #20BEC8;

  .el-button {
    --el-button-hover-border-color: #068894;
    --el-button-hover-bg-color:#068894;
  }
}
.el-dialog__header {
  padding: var(--el-dialog-padding-primary) !important;
  margin-right: 0px !important;
  border-bottom: 1px solid #D8D8D8;
}

.el-dialog__footer {
  border-top: 1px solid #D8D8D8;
  padding: var(--el-dialog-padding-primary) !important;
}